{% extends 'main.html' %}

{% block title %}
    {{director.name}} | {{ block.super }}
{% endblock %}

{% block content %}
<h1>{{director.name}} ({{director.birth_year}})</h1>
<p>{{ director.description|safe }}</p>

<div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 g-2">
    {% for movie in director.movie_set.all %}
    <div class='col'>
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }} ({% if movie.avg_rating %}{{movie.avg_rating}}{% else %}0{% endif %}%)</h5>
                <img src="{% if movie.image_url %}{{movie.image_url}}{% else %}https://place-hold.it/180x100/{% endif %}" alt="Card image cap">
                <p>{{ movie.description|safe }}</p>
                <a href="{% url 'movie' movie.id %}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}